.recipeDetail {
    max-width: 800px; 
    margin: 20px auto; 
    padding: 20px; 
    border: 1px solid #eaeaea;
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.recipeDetail h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.recipeDetail img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.recipeDetail h3 {
    font-size: 1.5rem;
    color: #333; 
    margin-top: 20px;
    margin-bottom: 10px;
}

.recipeDetail ul {
    list-style-type: none; 
    padding: 0;
}

.recipeDetail li {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 8px;
    margin: 5px 0;
}

.recipeDetail p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
}
