.recipesContainer {
    padding: 20px;
    max-width: 1200px; 
    margin: 0 auto; 
}

.categoryFilter {
    margin-bottom: 20px; 
}

.recipesGrid {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 10px; 
}

.recipeCard {
    border: 1px solid #eaeaea; 
    border-radius: 8px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    margin: 5px; 
    padding: 8px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    transition: transform 0.2s; 
}

.recipeCard:hover {
    transform: scale(1.05); 
}

.recipeCard img {
    width: 70%;
    height: auto; 
    border-radius: 8px; 
    display: block; 
    margin: 0 auto; 
}


.recipeCard h3 {
    font-size: 1.8rem;
    color: #333;
    margin: 20px 0 10px;
    padding-left: 30px;
}

.recipeCard p {
    font-size: 1.3rem;
    color: #666;
    margin: 10px 0;
    padding-left: 30px;
}

a {
    text-decoration: none; /* Прибирає підкреслення */
}

.recipeCard button {
    background-color: #ff6347;
    color: white; 
    font-size: 1rem;
    border: none; 
    border-radius: 5px; 
    padding: 6px 10px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.recipeCard button:hover {
    background-color: #ff4500; 
}

.noRecipes {
    font-size: 1.1rem; 
    color: #999; 
    text-align: center; 
    margin-top: 20px; 
}

.pagination {
    display: flex; 
    justify-content: center; 
    margin-top: 20px;
}
