.categoryFilter {
    margin-bottom: 20px;
}

.label {
    font-size: 1.2rem;
    color: #333;
    margin-right: 10px;
}

.select {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: border-color 0.3s;
}

.select:hover,
.select:focus {
    border-color: #007BFF;
    outline: none;
}
